{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Profile</title>
{% endblock title %}
{% block content %}
{% load humanize %}
<div class="my-5 mx-4">
    <h1 class="text-center text-info">Profile</h1>

    <div class="d-flex">
        <div class="profile-left col-md-3">
        <div class="card shadow-lg rounded-5" style="width: 18rem;">
  <img src="{{customer.image.url}}" class="card-img-top rounded-circle" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{customer}}</h3>
    <h6 class="card-title">Full Name: {{customer.user.first_name}} {{customer.user.last_name}}</h6>
    <h6 class="card-title">ID: {{customer.id}}</h6>
    <h6 class="card-title">Phone{{customer.phone}}</h6>
    <p class="card-title">Street: {{customer.street_address}}</p>
    <p class="card-title">City: {{customer.city}}</p>
    <p class="card-title">Country: {{customer.country}}</p>
    
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'change_pass' %}" class="btn btn-info">Change Pass</a>
  </div>
</div>
    </div>
    <div class="profile-right col-md-9">
      <button id="toggleSellPet" class="btn btn-primary mt-4 mx-2 active">Sell Pet</button>
            <button id="toggleBuyPet" class="btn btn-secondary mt-4 mx-2">Buy Pet</button>
            <button id="toggleTransaction" class="btn btn-info mt-4 mx-2">Transaction</button>
        <div class="sell-pet" id="sellPetSection">
            <h1 class="text-center my-4">My Sell Report</h1>
            <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Availability</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in pets %}
    <th scope="row">{{i.id}}</th>
      <td>{{i.name}}</td>
      <td>{% for category in i.category.all %}
    {{ category.name }}
    {% if not forloop.last %}, {% endif %}
  {% endfor %}</td>
      <td>{{i.price}}</td>
      <td>{{i.availability}}</td>
      <td><img class="rounded-circle" src="{{ i.image.url }}" style="width: 60px; height: 45px;" alt=""></td>
      <td>
        <a class="btn btn-warning" href="{% url 'edit_pet' i.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'pet_delete' i.id %}">Delete</a>
      </td>
      {% endfor %}
    </tr>
    
    
  </tbody>
</table>
        </div>
        <div class="buy-pet" id="buyPetSection" style="display: none;">

          <h1 class="text-center my-4">My Buying Report</h1>
            <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">Balance After Buy</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for i in buy %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.pet.name}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.get_transaction_type_display}}</td>
        <td>{{i.balance_after_transaction}}</td>
        <td><img class="rounded-circle" src="{{ i.pet.image.url }}" style="width: 60px; height: 45px;" alt=""></td>
      </tr>
    {% endfor %}
    <tr>
            <td colspan="3"></td>
            <td><strong>Total Buying Price:</strong></td>
            <td colspan="2"><b>${{ total_buy_price|floatformat:2|intcomma }}</b> </td>
          </tr>
  </tbody>
</table>

        </div>
        <div class="transaction" id="transactionSection" style="display: none;">

          <h1 class="text-center my-4">Total Transaction Report</h1>
            <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Balance After Buy</th>
    </tr>
  </thead>
  <tbody>
    {% for i in transaction %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{ i.timestamps|date:"F d, Y h:i A" }}</td>
        <td>{{i.amount}}</td>
        <td>{{i.get_transaction_type_display}}</td>
        <td>{{i.balance_after_transaction}}</td>
        
      </tr>
    {% endfor %}
    <tr>
            <td colspan="2"></td>
            <td><strong>Total Transaction:</strong></td>
            <td colspan="2"><b>${{ total|floatformat:2|intcomma }}</b> </td>
          </tr>
  </tbody>
</table>

        </div>
    </div>
    </div>
</div>

<script>
    document.getElementById('toggleSellPet').addEventListener('click', function () {
        document.getElementById('sellPetSection').style.display = 'block';
        document.getElementById('buyPetSection').style.display = 'none';
        document.getElementById('transactionSection').style.display = 'none';
    });

    document.getElementById('toggleBuyPet').addEventListener('click', function () {
        document.getElementById('sellPetSection').style.display = 'none';
        document.getElementById('buyPetSection').style.display = 'block';
        document.getElementById('transactionSection').style.display = 'none';
    });

    document.getElementById('toggleTransaction').addEventListener('click', function () {
        document.getElementById('sellPetSection').style.display = 'none';
        document.getElementById('buyPetSection').style.display = 'none';
        document.getElementById('transactionSection').style.display = 'block';
    });
</script>
{% endblock content %}