{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  <title>{{title}}</title>
{% endblock title %}

{% block content %}
  <div class="container m-auto" style="height: 100vh;">
    <h1 class="text-center text-info my-5">{{title}}</h1>
    
<div class="row d-flex justify-content-center align-items-center mt-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card p-5 shadow-lg rounded-5">
      <div class="card-body">
        <h5 class="card-title">
          <form action="" method="post" class="w-75 m-auto" novalidate>
        <!-- {{form | crispy}} -->
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for er in form.non_field_errors %}
          <p class="bg-danger text-white p-3">{{er}}</p>
          {% endfor %}
        {% endif %}

        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors | striptags}}
        {% endfor %}
        <br>
        <input class="btn btn-primary my-2" type="submit" value="Submit">
    </form>
        </h5>
        
      </div>
    </div>
  </div>
  
</div>
  </div>
  
{% endblock content %}